<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mongo DB</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="container">
        <div id="center">
            <form method="POST" action="/mongo/v1">
                <p>
                    <input type="text" name="movie_name" autocomplete="off" placeholder="Enter The Movie Name..">
                </p>
                <p>
                    <input type="text" name="actor_name" autocomplete="off" placeholder="Enter The Actor Name..">
                </p>
                <p>
                    <input type="number" name="release_date" autocomplete="off" placeholder="Enter The Release Date..">
                </p>
                <p>
                    <input type="text" name="active" autocomplete="off" placeholder="Active Or Not..">
                </p>
                <p>
                    <input type="submit" value="submit">
                </p>
            </form>
        </div>
    </div>

</body>

</html>